{%extends 'base.html.twig' %}

{% block title %}Redirect by Code{% endblock %}
{#{% block buttons %}#}
{#    <button onclick="location.href='/logout'" type="button" class="btn btn-outline-light me-2">Logout</button>#}
{#{% endblock %}#}
{% block content %}

    <section>
        <form action="{{ form_action }}" method="post">
            <div class="mb-3">

                <lable class="form-label">Код для переходу: <label>
                        <input type="text" class="form-control" name="code">
                    </label>
                    <button type="submit" class="btn btn-warning">Перейти</button>
                </lable>
            </div>
        </form>
    </section>

{% endblock %}