{%extends 'base.html.twig' %}

{% block title %}Create new Code{% endblock %}
{#{% block buttons %}#}
{#    <button onclick="location.href='/logout'" type="button" class="btn btn-outline-light me-2">Logout</button>#}
{#{% endblock %}#}
{% block content %}

    <section>
        <form action="{{ form_action }}" method="post">
            <div class="mb-3">

            <lable class="form-label">Url для скорочення: <label>
                    <input type="text" class="form-control" name="url">
                </label>
                <button type="submit" class="btn btn-warning">Зберегти</button>
            </lable>
            </div>
        </form>
    </section>

{% endblock %}